body{
    margin: 0;
    background-color: #dcea94;
}
.wrap{
    padding: 30px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 2300px;

}

/*-----------------------*/
.f_col{
    display: flex;
    flex-direction: column;
}
.bg__block{
    background-color: #ffffff;
}
.bg__item{
    background-color: #e7e7e8;
}
.br{
    border: 3px solid #0b0003;
}
.wh_small{
    width: 22%;
    height: 56%;
}
.wh_small_2{
    width: 200px;
    height: 50px;
}
.header__item{
    margin: 15px;
}
.margin_small{
    margin: 15px;
}

/*--------------------*/
.header{
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    height: 95%;

}
.menu{
    align-items: center;
    row-gap: 15px;
    width: 20%;
}
.menu__item{

}
.main__content{
    width: 80%;
    height: 100%;
}
.block3{
    padding: 30px;
    height: 10%;
}
.block3__item{
    margin: 0 auto;
    width: 95%;
    height: 200px;


}
.block4{
    height:15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 15px;
}
.block4__item{
    width: 16%;
    height: 90px;

}
.block4_hide{
    display: none;
}
.block5-6{
    height: 80%;
    display: flex;
}
.block5{
    width: 70%;
    justify-content: space-around;
    row-gap: 15px;
    align-items: center;




}
.block5__main{
    width: 95%;
    display: flex;
    justify-content:space-around;
    /*margin: 15px;*/
}
.block5__main__left{
    row-gap: 15px;

}
.block5__main__right{
    row-gap: 15px;
}
.block5__item{
    width: 280px;
    height: 100px;
}
.block5__btn{
    margin: 0 auto;
}
.btn__item{
    width: 70px;
    height: 20px;

}
.block6{
    width: 30%;
    row-gap: 15px;
    align-items: center;
}
.block6__item{
    width: 230px;
    height: 60px;

}

.block7{
    text-align: center;
}

@media screen and (min-width:992px) and (max-width: 1200px){
    .menu{
        display: none;
    }
    .main__content{
        width: 100%;
    }
    .block3{
        /*height: 23%;*/
    }
    .block4{
        display: none;
    }
    .block4_hide{
        /*height: 45%;*/
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 15px;
    }
    .block4_hide_left{
        width: 50%;
    }
    .block4_hide_right{
        width: 45%;
    }
    .block4__item{
        width: 90%;
        height: 160px;
        margin: 20px 20px;
    }
    .block5-6{
        display: flex;
        flex-direction:column;
        height: 100%;
    }
    .block5{
        width: 100%;
        height: 76%;
    }
    .block5_hide{
        display: none;
    }
    .block5__main__left{
        width: 45%;
    }
    .block5__main__right{
        width: 45%;
    }
    .block5__item{
        width: 100%;
        height: 140px;
    }
    .block6{
        width: 100%;
        height: 24%;
    }
}

@media screen and  (max-width: 992px){
    .menu{
        display: none;

    }
    .main__content{
        width: 100%;
    }
    .block3{
        /*height: 23%;*/
    }
    .block4{
        display: none;
    }
    .block4_hide{
        /*height: 45%;*/
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 15px;
    }
    .block4_hide_left{
        width: 50%;
    }
    .block4_hide_right{
        width: 45%;
    }
    .block4__item{
        width: 90%;
        height: 160px;
        margin: 20px 20px;
    }
    .block5-6{
        display: flex;
        flex-direction:column;
        height: 100%;
    }
    .block5{
        width: 100%;
        height: 76%;
    }
    .block5__main{
        display: none;
    }
    .block5_hide{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    /*.block5__main__left{*/
    /*    width: 45%;*/
    /*}*/
    /*.block5__main__right{*/
    /*    width: 45%;*/
    /*}*/
    .block5__item{
        width: 60%;
        height: 140px;
    }
    .block6{
        width: 100%;
        height: 24%;
    }
}