body{
    padding: 30px;
}
.task1{
    font-size: 55px;
    text-decoration: underline;
    width: 1200px;
    height: 1300px;
    color: #0b0003;
    display: flex;
    flex-direction: column;

    row-gap: 15px;
    text-align: center;
}
.a{
    width: 100%;
    height: 30%;
    background-color: #7ee332;

    box-sizing: border-box;
    padding-top: 12%;
}
.cont{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;

}
.b-g{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    width: 75%;
    height: 100%;

    box-sizing: border-box;

}
.b-g>div{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}

.col1>div{
    width: 100%;
    height: 50%;
    background-color: #7ee332;
    box-sizing: border-box;
    padding-top: 61%;

}

.col2>div{
    width: 100%;
    height: 50%;
    background-color: #7ee332;
    box-sizing: border-box;
    padding-top: 61%;
}
.col3>div{
     width: 100%;
     height: 50%;
     background-color: #7ee332;
     box-sizing: border-box;
     padding-top: 61%;
 }
.h{
    width: 25%;
    height: 100%;
    background-color: #7ee332;
    box-sizing: border-box;
    padding-top: 34%;
}

.task2 {
    color: #ffffff;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 1200px;
    height: 1500px;
    margin-top: 45px;
}
.task2 div{
    text-align: center;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 8%;
    background-color: #54d5eb;
    padding-top: 34px;
}
.content_1{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.col_1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.hero{
    width: 100%;
    height: 45%;
    background-color: #d7c9e3;
    padding-top: 180px;
}
.sidebar{
    width: 100%;
    height: 55%;
    background-color: #9fc363;
    padding-top: 250px;

}
.col_2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.main{
    width: 100%;
    height: 70%;
    background-color: #f5c532;
    padding-top: 150px;
}
.extra{
    width: 100%;
    height: 30%;
    background-color: #898989;
    padding-top: 90px;
}
.content_2{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.related{
    width: 70%;
    height: 100%;
    background-color: #2bb673;
    padding-top: 100px;
}
.related_2{
    width: 30%;
    height: 100%;
    background-color: #f3ccde;
    padding-top: 100px;

}
.footer{
    width: 100%;
    height: 10%;
    background-color: #fea500;
    padding-top: 50px;
}