body{
    padding: 30px;
    background-color: #f5c532;
}
.container{
    max-width: 1200px;
    font-size: 55px;
    height: 2000px;
    padding-top: 30px;
}
/*-----------------*/
.df{
    display: flex;
}
.fdc{
    flex-direction: column;
    row-gap: 15px;
}
.header_main{
    height: 9%;
    column-gap: 15px;
}
.bg_color{
    background-color: #676767;
}
.logo{
    width: 20%;
}
.header{
    width: 80%;
}
.content{
    height: 75%;
    column-gap: 15px;
}
.col__left{
    width: 30%;
}
.hide_8-9{
    display: none;
}
.nav{
    height: 60%;
}
.store_locator{
    height: 20%;
}
.tools{
    height: 20%;
}
.col__right{
    width: 70%;
}
.row_4-5{
    height: 35%;
    column-gap: 15px;
}
.bath{
    width: 70%;
}
.ad{
    width: 30%;
}
.row_6-7{
    height: 65%;
    column-gap: 15px;
}
.types{
    width: 70%;
}
.related{
    width: 30%;
}
.footer{
    height: 16%;
}
@media screen and (min-width:0) and (max-width: 990px){
    .content{
        flex-direction: column;
        row-gap: 15px;
    }
    .col__left{
        height: 9%;
        width: 100%;
        background-color: #676767;
    }
    .col__right{
        width: 100%;
        height: 75%;
    }
    .row_4-5{
        height: 30%;
    }
    .row_6-7{
        height: 70%;
        flex-direction: column;
        row-gap: 15px;
    }
    .types{
        height: 70%;
        width: 100%;
    }
    .related{
        height: 30%;
        width: 100%;
    }
    .hide_8-9{
        height: 16%;
        display: flex;
        column-gap: 15px;
    }
    .store_locator_hide{
        width: 50%;
    }
    .tools_hide{
        width: 50%;
    }
    .store_locator,.tools{
        display: none;
    }

}
